body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5; /* Puedes mantener este color de fondo o eliminarlo si la imagen cubre toda la pantalla */
    color: #333;
    margin: 0;
    padding: 0;
    padding-top: 0px; /* Ajusta el padding para desplazar el contenido hacia abajo */
    background-image: url('img/sheep.jpeg'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center 40px; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
