/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
    padding-top: 20px; /* Ajusta el padding para desplazar el contenido hacia abajo */
}

/* Barra de Navegación Superior */
.navbar {
    background-color: #1c5d99; /* Color específico del navbar */
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Mantener la barra superior por encima de otros elementos */
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: #1c5d99; /* Cambia el color al pasar el ratón */
}

/* Barra de Navegación Vertical */
.sidebar {
    height: calc(100vh - 35px); /* Altura completa menos la altura de la barra superior */
    width: 250px;
    position: fixed;
    top: 35px; /* Comienza justo debajo de la barra superior */
    right: 0;
    background-color: #1c5d99;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permitir desplazamiento vertical */
    z-index: 900;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #3c8dbc;
    color: #1c5d99;
}

/* Ajustar el contenido principal para que no quede oculto detrás de la barra lateral */
.main-content {
    margin-left: 250px; /* Desplazar contenido para dejar espacio para la barra lateral */
    margin-top: 60px; /* Ajuste para evitar la barra superior */
    padding: 20px;
}

/* Forms */
form {
    max-width: 500px;
    margin: 20px auto; /* Centra el formulario horizontalmente */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Botones estilizados */
.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #1c5d99;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.btn:hover {
    background-color: #3c8dbc;
    color: white;
}

/* Botón de Cierre de Sección */
.btn-close {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ff4d4d; /* Color de fondo para el botón de cierre */
    color: #fff; /* Color del texto */
    text-decoration: none;
    border-radius: 25px; /* Bordes más redondeados para un diseño más moderno */
    font-weight: bold;
    text-align: center;
    border: none; /* Sin borde para un diseño más limpio */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Añadido de sombra al pasar el ratón */
}

.btn-close:hover {
    background-color: #d9534f; /* Color de fondo al pasar el ratón */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el ratón */
}

/* Footer */
footer {
    background-color: #1c5d99;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: calc(100%);
    right: 0;
    z-index: 850; /* Debe estar por debajo de la barra lateral, pero por encima del contenido principal */
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 768px) {
    .search-bar input[type="text"] {
        width: 100%; /* Barra de búsqueda ocupa el 100% del ancho */
    }
    .search-bar {
        flex-direction: column; /* Los elementos del formulario se apilan verticalmente */
    }
    .search-bar button {
        width: 100%; /* Botón ocupa el 100% del ancho */
    }
}
