<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    </head>
    <body>
        <div class="navbar">
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('index1') }}"> ovejas  </a>
            <a href="{{ url_for('index2') }}">salud</a>
            <a href="{{url_for('index3')}}"> reproduccion</a>
            <a href="{{url_for('index4')}}">alimentacion</a></li>
            <a href="{{url_for('index5')}}">inventario</a></li>
            <a href="{{url_for('index6')}}">finanzas</a></li>
            <a href="{{url_for('index7')}}">ventas</a></li>
            <a href="{{url_for('index8')}}">compras</a></li>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <footer>
            &copy; 2024 Gestión de Ovinos
        </footer>
        <div class="sidebar">
        <a href="{{url_for('listar_inventario')}}">listar compras</a></li>
        <a href="{{url_for('reistrar_inventario')}}">listar finanzas</a></li>
        </div>
    </body>
</html>