<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    </head>
    <body>
        <div class="navbar">
       
        <a href="{{url_for('registrar_reproduccion')}}">Registrar reproduccion</a>
        <a href="{{url_for('listar_reproduccion')}}">Listar  reproduccion</a></li>
        </div>
       
    </body>
</html>