<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Ovinos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<style>
    
</style>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('oveja') }}"> ovejas  </a>
        <a href="{{ url_for('salud') }}">salud</a>
        <a href="{{url_for('reproduccion')}}"> reproduccion</a>
        <a href="{{url_for('alimentacion')}}">alimentacion</a></li>
        <a href="{{url_for('finanzas')}}">finanzas</a></li>
        <a href="{{url_for('venta')}}">ventas</a></li>
        <a href="{{url_for('compra')}}">compras</a></li>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        &copy; 2024 Gestión de Ovinos
    </footer>
    


    <div class="nombre">
        <p>Ver el catálogo actualizado</p>
        <a href="{{ url_for('buzon') }}">Ir al catálogo</a>
    </div>

    <div class="nombre">
        <p>recetas alternativas</p>
        <a href="{{ url_for('recetas') }}">ver recetas</a>
    </div>
    
    <div class="nombre">
        <p>panelde notificaciones</p>
        <a href="{{ url_for('notificacion') }}">ir a</a>
    </div>
    
    
</body>
</html>
