listar:
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>control de Salud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('listar_ovejas') }}">listar Ovejas</a>
        <a href="{{ url_for('registrar_oveja') }}">Registrar Oveja</a>
        <a href="{{url_for('registrar_reproduccion')}}">Registrar reproduccion</a>
        <a href="{{url_for('listar_reproduccion')}}">Listar  reproduccion</a></li>
        <a href="{{url_for('registrar_salud')}}">Registrar Salud</a></li>
        <a href="{{url_for('listar_salud')}}">Listar Salud</a></li>
        <a href="{{url_for('registrar_alimentacion')}}">registrar alimentacion</a></li>
        <a href="{{url_for('listar_alimentacion')}}">Listar alimentacion</a></li>
        <a href="{{url_for('listar_venta')}}">Listar ventas</a></li>
        <a href="{{url_for('registrar_venta')}}">registrar ventas</a></li>
        <a href="{{url_for('registrar_compra')}}">registrar compras</a></li>
        <a href="{{url_for('listar_compra')}}">listar compras</a></li>
        <a href="{{url_for('listar_finanzas')}}">listar finanzas</a></li>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        &copy; 2024 Gestión de Ovinos
    </footer>
    <h1>Listar salud</h1>
    <table border="2">
        <thead>
            <tr>
                <th>ID de la salud</th>
                <th>ID del animal</th>
                <th>Fecha de la consulta</th>
                <th>Tipo de consulta</th>
                <th>Detalles de la consulta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for salud in salud %}
            <tr>
                <td>{{ salud.id }}</td>
                <td>{{ salud.id_oveja }}</td>
                <td>{{ salud.fecha }}</td>
                <td>{{ salud.tipo_tratamiento }}</td>
                <td>{{ salud.detalle }}</td>
                <td>
                    <form action="{{ url_for('eliminar_salud', id=salud.id) }}" method="post" style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta entrada de salud?');">Eliminar</button>
                    </form>
                    <button> <a href="{{ url_for('editar_salud', id=salud.id) }}" class="btn">Editar<a></button>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>