<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Reproducciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <div>
            <a href="{{ url_for('logout') }}" class="btn-close">Salir</a>
        </div>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('oveja') }}">Ovejas</a>
        <a href="{{ url_for('salud') }}">Salud</a>
        <a href="{{ url_for('reproduccion') }}">Reproducción</a>
        <a href="{{ url_for('alimentacion') }}">Alimentación</a>
        <a href="{{ url_for('finanzas') }}">Finanzas</a>
        <a href="{{ url_for('venta') }}">Ventas</a>
        <a href="{{ url_for('compra') }}">Compras</a>
        <a href="{{ url_for('inventario') }}">Inventario</a>
        <a href="{{ url_for('reportes_view') }}">Generar Reportes</a>
    </div>
    
    <div class="sidebar">
        <a href="{{ url_for('registrar_reproduccion') }}">Registrar reproducción</a>
        <a href="{{ url_for('listar_reproduccion') }}">Listar reproducción</a>
    </div>
    
    <div class="container">
        <h1>Listado de Reproducciones Ovejas</h1>

        <!-- Formulario de búsqueda -->
        <form method="GET" action="{{ url_for('listar_reproduccion') }}">
            <input type="text" name="search" placeholder="Buscar reproducción..." value="{{ request.args.get('search', '') }}">
            <button type="submit">Buscar</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>ID Oveja</th>
                    <th>Fecha Apareamiento</th>
                    <th>ID Macho</th>
                    <th>Fecha Parto</th>
                    <th>Número de Crías</th>
                    <th>Acciones</th> <!-- Nueva columna para las acciones -->
                </tr>
            </thead>
            <tbody>
                {% for reproduccion in reproducciones %}
                <tr>
                    <td>{{ reproduccion.id_oveja }}</td>
                    <td>{{ reproduccion.fecha_apareamiento.strftime('%Y-%m-%d') }}</td>
                    <td>{{ reproduccion.id_macho }}</td>
                    <td>{{ reproduccion.fecha_parto.strftime('%Y-%m-%d') }}</td>
                    <td>{{ reproduccion.num_crias }}</td>
                    <td>
                        <a href="{{ url_for('editar_reproduccion', id=reproduccion.id) }}" class='btn'>Editar</a>
                        <form action="{{ url_for('eliminar_reproduccion', id=reproduccion.id) }}" method="POST" style="display:inline;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro de reproducción?');">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <footer>
        &copy; 2024 Gestión de Ovinos
    </footer>
</body>
</html>


