<!DOCTYPE html>
<html>
<head>
    <title>Listar Alimentaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <div>
            <a href="{{ url_for('logout') }}" class="btn-close">salir</a>
            </div>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('oveja') }}"> ovejas  </a>
        <a href="{{ url_for('salud') }}">salud</a>
        <a href="{{url_for('reproduccion')}}"> reproduccion</a>
        <a href="{{url_for('alimentacion')}}">alimentacion</a></li>
        <a href="{{url_for('finanzas')}}">finanzas</a></li>
        <a href="{{url_for('venta')}}">ventas</a></li>
        <a href="{{url_for('compra')}}">compras</a></li>
        <a href="{{url_for('inventario')}}">inventario</a>
        <a href="{{ url_for('reportes_view') }}">Generar Reportes</a>
    </div>
</br></br></br>
<!-- Mostrar mensajes flash -->
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flashes">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
</div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        &copy; 2024 Gestión de Ovinos
    </footer>
    
    <div class="sidebar">
    <a href="{{url_for('registrar_alimentacion')}}">registrar alimentacion</a></li>
    <a href="{{url_for('listar_alimentacion')}}">Listar alimentacion</a></li>
    </div>


    <h1>Listar Alimentaciones</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Oveja</th>
                <th>Fecha</th>
                <th>Tipo de Alimento</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for alimentacion in alimentaciones %}
            <tr>
                <td>{{ alimentacion.id }}</td>
                <td>{{ alimentacion.id_oveja }}</td>
                <td>{{ alimentacion.fecha }}</td>
                <td>{{ alimentacion.tipo_alimento }}</td>
                <td>{{ alimentacion.cantidad }}</td>
                <td>
                    <a href="{{ url_for('editar_alimentacion', id=alimentacion.id) }}"class='btn'>Editar</a>
                    <form action="{{ url_for('eliminar_alimentacion', id=alimentacion.id) }}" method="post" style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta entrada de alimentacion?');">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
