<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Ventas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('index1') }}"> ovejas  </a>
        <a href="{{ url_for('index2') }}">salud</a>
        <a href="{{url_for('index3')}}"> reproduccion</a>
        <a href="{{url_for('index4')}}">alimentacion</a></li>
        <a href="{{url_for('index6')}}">finanzas</a></li>
        <a href="{{url_for('index7')}}">ventas</a></li>
        <a href="{{url_for('index8')}}">compras</a></li>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        &copy; 2024 Gestión de Ovinos
    </footer>
    <h1>Listado de Ventas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>ID Oveja</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.id }}</td>
                <td>{{ venta.fecha.strftime('%Y-%m-%d') }}</td>
                <td>{{ venta.id_oveja }}</td>
                <td>{{ venta.precio }}</td>
                <td>
                    <a href="{{ url_for('editar_venta', id=venta.id) }}"class='btn'>Editar</a>
                    <form action="{{ url_for('eliminar_venta', id=venta.id) }}" method="POST" style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta venta?');">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</body>
</html>