<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Ovejas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('oveja') }}"> ovejas  </a>
        <a href="{{ url_for('salud') }}">salud</a>
        <a href="{{url_for('reproduccion')}}"> reproduccion</a>
        <a href="{{url_for('alimentacion')}}">alimentacion</a></li>
        <a href="{{url_for('finanzas')}}">finanzas</a></li>
        <a href="{{url_for('venta')}}">ventas</a></li>
        <a href="{{url_for('compra')}}">compras</a></li>
    </div>
    <div cl
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        &copy; 2024 Gestión de Ovinos
    </footer>
    <div class="sidebar">
    <a href="{{ url_for('index') }}">Inicio</a>
    <a href="{{url_for('registrar_reproduccion')}}">Registrar reproduccion</a>
    <a href="{{url_for('listar_reproduccion')}}">Listar  reproduccion</a></li>
    </div>
    <h1>Listado De Reproducciones Ovejas</h1>
    <table>
        <thead>
            <tr>
                <th>ID Oveja</th>
                <th>Fecha Apareamiento</th>
                <th>ID Macho</th>
                <th>Fecha Parto</th>
                <th>Número de Crías</th>
                <th>Acciones</th> <!-- Nueva columna para las acciones -->
            </tr>
        </thead>
        <tbody>
            {% for reproduccion in reproducciones %}
            <tr>
                <td>{{ reproduccion.id_oveja }}</td>
                <td>{{ reproduccion.fecha_apareamiento.strftime('%Y-%m-%d') }}</td>
                <td>{{ reproduccion.id_macho }}</td>
                <td>{{ reproduccion.fecha_parto.strftime('%Y-%m-%d') }}</td>
                <td>{{ reproduccion.num_crias }}</td>
                <td>
                    <a href="{{ url_for('editar_reproduccion', id=reproduccion.id) }}"class='btn'>Editar</a>
                    <form action="{{ url_for('eliminar_reproduccion', id=reproduccion.id) }}" method="POST" style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro de reproducción?');">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="margin-top: 20px;">
</div>
</body>
</html>

