<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gestión de Ovinos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="navbar">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('oveja') }}">Ovejas</a>
        <a href="{{ url_for('salud') }}">Salud</a>
        <a href="{{ url_for('reproduccion') }}">Reproducción</a>
        <a href="{{ url_for('alimentacion') }}">Alimentación</a>
        <a href="{{ url_for('finanzas') }}">Finanzas</a>
        <a href="{{ url_for('venta') }}">Ventas</a>
        <a href="{{ url_for('compra') }}">Compras</a>
        <a href="{{ url_for('inventario') }}">Inventario</a>
        <a href="{{ url_for('reportes_view') }}">Generar Reportes</a>
        <a href="{{ url_for('logout') }}" class="btn-close">Salir</a>
    </div>

    <div class="container">
        {% block content %}
        
        {% endblock %}
    </div>

    <div class="sidebar">
        <a href="{{ url_for('listar_ovejas') }}">Listar Ovejas</a>
        <a href="{{ url_for('registrar_oveja') }}">Registrar Oveja</a>
    </div>

    <footer>
        &copy; 2024 Gestión de Ovinos
    </footer>
</body>
</html>
