<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Alimentación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('oveja') }}"> ovejas  </a>
        <a href="{{ url_for('salud') }}">salud</a>
        <a href="{{url_for('reproduccion')}}"> reproduccion</a>
        <a href="{{url_for('alimentacion')}}">alimentacion</a></li>
        <a href="{{url_for('finanzas')}}">finanzas</a></li>
        <a href="{{url_for('venta')}}">ventas</a></li>
        <a href="{{url_for('compra')}}">compras</a></li>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        &copy; 2024 Gestión de Ovinos
    </footer>
    <div class="sidebar">
    <a href="{{ url_for('index') }}">Inicio</a>
    <a href="{{url_for('registrar_alimentacion')}}">registrar alimentacion</a></li>
    <a href="{{url_for('listar_alimentacion')}}">Listar alimentacion</a></li>
    </div>

    <h1>Agregar Alimentación</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.id_oveja.label }}<br>{{ form.id_oveja() }}</p>
        <p>{{ form.fecha.label }}<br>{{ form.fecha() }}</p>
        <p>{{ form.tipo_alimento.label }}<br>{{ form.tipo_alimento() }}</p>
        <p>{{ form.cantidad.label }}<br>{{ form.cantidad() }}</p>
        <p>{{ form.submit(class_='btn btn-primary') }}</p>
    </form>
</body>
</html>
