<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar Compra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <div>
            <a href="{{ url_for('logout') }}" class="btn-close">salir</a>
            </div>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('oveja') }}"> ovejas  </a>
        <a href="{{ url_for('salud') }}">salud</a>
        <a href="{{url_for('reproduccion')}}"> reproduccion</a>
        <a href="{{url_for('alimentacion')}}">alimentacion</a></li>
        <a href="{{url_for('finanzas')}}">finanzas</a></li>
        <a href="{{url_for('venta')}}">ventas</a></li>
        <a href="{{url_for('compra')}}">compras</a></li>
        <a href="{{url_for('inventario')}}">inventario</a>
        <a href="{{ url_for('reportes_view') }}">Generar Reportes</a>
    </div>
    <!-- Mostrar mensajes flash -->
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flashes">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    </div>
    <div class="container">
    <footer>
        &copy; 2024 Gestión de Ovinos
    </footer>
    
    <div class="sidebar">
        <a href="{{url_for('registrar_compra')}}">registrar compras</a></li>
        <a href="{{url_for('listar_compra')}}">listar compras</a></li>
    </div>
    <h1>Registrar Nueva Compra</h1>
    <form method="POST" action="{{ url_for('registrar_compra') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.tipo_producto.label }}<br>
            {{ form.tipo_producto(size=32) }}<br>
            {% for error in form.tipo_producto.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}            
        </div>

        <div>
            {{ form.descripcion.label }}<br>
            {{ form.descripcion() }}<br>
            {% for error in form.descripcion.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.cantidad.label }}<br>
            {{ form.cantidad(size=32) }}<br>
            {% for error in form.cantidad.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.precio.label }}<br>
            {{ form.precio() }}<br>
            {% for error in form.precio.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.fecha.label }}<br>
            {{ form.fecha  }}<br>
            {% for error in form.fecha.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.submit(class_='btn') }} 
        </div>
        {% block content %}{% endblock %}
    </div>
    </form>
</body>
</html>
