<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar tratamiento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('listar_ovejas') }}">listar Ovejas</a>
        <a href="{{ url_for('registrar_oveja') }}">Registrar Oveja</a>
        <a href="{{url_for('registrar_reproduccion')}}">Registrar reproduccion</a>
        <a href="{{url_for('listar_reproduccion')}}">Listar  reproduccion</a></li>
        <a href="{{url_for('registrar_salud')}}">Registrar Salud</a></li>
        <a href="{{url_for('listar_salud')}}">Listar Salud</a></li>
        <a href="{{url_for('registrar_alimentacion')}}">registrar alimentacion</a></li>
        <a href="{{url_for('listar_alimentacion')}}">Listar alimentacion</a></li>
        <a href="{{url_for('listar_venta')}}">Listar ventas</a></li>
        <a href="{{url_for('registrar_venta')}}">registrar ventas</a></li>
        <a href="{{url_for('registrar_compra')}}">registrar compras</a></li>
        <a href="{{url_for('listar_compra')}}">listar compras</a></li>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        &copy; 2024 Gestión de Ovinos
    </footer>
    <form method="POST" action="{{ url_for('registrar_salud') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.id_oveja.label }}<br>
            {{ form.id_oveja() }}<br>
            {% for error in form.id_oveja.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.fecha.label }}<br>
            {{ form.fecha() }}<br>
            {% for error in form.fecha.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.tipo_tratamiento.label }}<br>
            {{ form.tipo_tratamiento(size = 32) }}<br>
            {% for error in form.tipo_tratamiento.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.detalle.label }}<br>
            {{ form.detalle(size=32) }}<br>
            {% for error in form.detalle.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class_='btn') }}
        </div>
    </form>
</body>
</html>