<!DOCTYPE html>
<html>
<head>
    <title>Generar Reporte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <div>
            <a href="{{ url_for('logout') }}" class="btn-close">salir</a>
            </div>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('oveja') }}"> ovejas  </a>
        <a href="{{ url_for('salud') }}">salud</a>
        <a href="{{url_for('reproduccion')}}"> reproduccion</a>
        <a href="{{url_for('alimentacion')}}">alimentacion</a></li>
        <a href="{{url_for('finanzas')}}">finanzas</a></li>
        <a href="{{url_for('venta')}}">ventas</a></li>
        <a href="{{url_for('compra')}}">compras</a></li>
        <a href="{{url_for('inventario')}}">inventario</a>
        <a href="{{ url_for('reportes_view') }}">Generar Reportes</a>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        &copy; 2024 Gestión de Ovinos
    </footer>
    
    <form method="post" action="/generar_reporte">
        <h1>Generar Reporte</h1>
        {{ form.hidden_tag() }}
        {{ form.tipo_reporte.label }} {{ form.tipo_reporte() }}
        {{ form.formato.label }} {{ form.formato() }}
        {{ form.submit() }}
    </form>
</body>
</html>

